<section class="content-header">
  <h1>
    Services
    <small>clicSÉQUR</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Services</a></li>
    <li class="active">clicSÉQUR</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span [ngClass]="clicsequrProd.statut ? 'info-box-icon bg-aqua' : 'info-box-icon bg-red'" ><i class="fa fa-key"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{{clicsequrProd.nom}}</span>
        <span class="info-box-number">{{clicsequrProd.environment}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

</div>

</section>
<!-- /.content -->
